<!DOCTYPE html>
<html>

<head>
    <meta charset="uft-8">
    <title>
        <%=title%>
    </title>
</head>

<body>
    <ul id="ud">
        <% for(var i=0;i<items.length;i++){ %>
            <li>
                <%= items[i].name%>
            </li>
            <%}%>
    </ul>
    <h3>Agregar nuevo producto</h3>
    <!-- <form action="/new-products" method="POST"> -->
    <form id="Form">
        <input type="text" name="newItem" id="newItem" value="">
        <!-- <input type="hidden" name="newUrl" id="newUrl" value=""> -->
        <input type="button" name="boton" id="boton" value="Add">
        <!-- <button id="boton" onclick="poster">
            Add
        </button> -->
    </form>
    <script>
        var form = document.getElementById("Form");
        var uLista = document.getElementById("ud");
        var URLactual1 = window.location;
        var URLactual;
        var dat, boton;

        function comenzar() {

            fun1();
            obtDato();

        }

        function obtDato() {
            form.boton.addEventListener('click', () => {
                // form.action="/new-products"
                let xhr;
                var Salida = {
                    newItem: dat.value,
                    newUrl: URLactual.value
                };
                const Url30 = "http://localhost:5000/new-products";
                const Url31 = "http://localhost:5000/products";
                if (window.XMLHttpRequest) {
                    xhr = new XMLHttpRequest();
                    const j34 = JSON.stringify(Salida);
                    xhr.open('POST', Url30);
                    xhr.setRequestHeader('Content-Type', "application/json");
                    xhr.onload = function() {
                        // console.log(xhr.responseText);

                        if (xhr.status == 500) {
                            console.log(xhr.statusText);
                            console.log(xhr);
                        } else {
                            var jstr = (JSON.parse(xhr.response));
                            console.log(xhr.statusText);
                            console.log(xhr.response);
                            // console.log("respon: "+jstr[0].items[0].name);
                            Lista(jstr);
                        }

                    }
                    xhr.send(j34);

                    // uLista.innerHTML="";
                } else {
                    console.error("No Soporta");
                }
                // form.submit();
            })

        }

        function Lista(jstr) {
            uLista.innerHTML = "";

            var li, conso;
            // console.log("item: "+ jstr[0].items[0].name);
            var Ul = document.createElement("ul");

            // var ul = document.getElementById("ud");
            var li;
            for (var i = 0; i < jstr[0].items.length; i++) {
                li = document.createElement("li");
                li.appendChild(document.createTextNode(jstr[0].items[i].name));
                uLista.appendChild(li);
            }
        }

        function fun1() {
            form.innerHTML += '<input type="hidden" name="newUrl" id="newUrl" value="">';
            boton = document.getElementById("boton");
            dat = document.getElementById("newItem");
            document.getElementById("newUrl").value = URLactual1;
            URLactual = document.getElementById("newUrl");
        }

        window.addEventListener('load', comenzar, false)
            // }
    </script>
</body>

</html>