<!DOCTYPE html>
<html>

<head>
    <meta charset="uft-8">
    <title>
        <%=title%>
    </title>
</head>

<body>
    <ul>
        <% for(var i=0;i<items.length;i++){ %>
            <li>
                <%= items[i].name%>
            </li>
            <%}%>
    </ul>
    <h3>Agregar nuevo producto</h3>
    <!-- <form action="/new-products" method="POST"> -->
    <form id="Form" >
        <input type="text" name="newItem" id="newItem" value="">
        <input type="hidden" name="newUrl" id="newUrl" value="">
        <input type="button" name="boton" id="boton" value="Add">
        <!-- <button id="boton" onclick="poster">
            Add
        </button> -->
    </form>
    <script>
        var form = document.getElementById("Form");
        var boton = document.getElementById("boton");        
        var dat = document.getElementById("newItem");
        var URLactual1 = window.location;
        document.getElementById("newUrl").value= URLactual1 ;
        var URLactual = document.getElementById("newUrl");
        
        
        
        function comenzar(){
            console.log("URLINI"+URLactual.value);
            console.log("URL2: "+URLactual1);
            
            obtDato();
            
        }
        
        function obtDato(){
            
        
        
        boton.addEventListener('click', () => {
                
                
                form.action="/new-products"
                form.submit();
                let xhr;
                console.log("URL3: " + URLactual);

                var Salida = {
                    newItem: dat.value,
                    newUrl: URLactual.value
                };

                const Url30 = "http://localhost:5000/new-products";
                if (window.XMLHttpRequest) {

                    xhr = new XMLHttpRequest();
                    console.log("si tiene");
                    const j34 = JSON.stringify(Salida);
                    console.log("hola: "+j34);
                    xhr.open('POST', Url30);


                    xhr.setRequestHeader('Content-Type', "application/json");
                    // xhr.onload = function() {
                    //     // do something to response
                    //     console.log(xhr.responseURL);
                    // };
                    xhr.send(j34);
                    
                    fun1();
                } else {
                    console.error("No Soporta");
                }
            })

        }
        function fun1(){
            
            
        }
        
        window.addEventListener('load',comenzar,false)
            // }
    </script>
</body>

</html>